<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-3">
					
					<div th:if="${session.alertMessage}" th:classappend="${session.alertMessage.type}" class="alert" role="alert">
  							<p class="text-center" th:text="${session.alertMessage.Content}"></p>
  							<th:block th:text="${#session.removeAttribute('alertMessage')}"></th:block>
					</div>
					
						<h1 class="text-center ">Register Here</h1>
						<form th:action="@{/do_register}" method="post" th:object="${user}">

							<div class="mb-3">
								<label for="name_field" class="form-label">User Name </label> 
								<input name="name" type="text" class="form-control" id="name_field" th:value="${user.name}" required>
							</div>

							<div class="mb-3">
								<label for="email_field" class="form-label">Email address</label> 
								<input name="email" type="email" class="form-control" id="email_field" aria-describedby="emailHelp" th:value="${user.email}" required>
								<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
								
							</div>

							<div class="mb-3">
								<label for="password_field" class="form-label">Password</label>
								<input name="password" type="password" class="form-control" id="email_field" required>
							</div>
							
							<div class="from-group form-checked">
							<input type="checkbox" name="aggrement" id="aggrement" class="form-check-input"/>
							<label for="aggrement">Accept terms and conditions</label>
							</div>
							
		
							<div class="container text-center">
								<button class="btn bg-primary text-white">Submit</button>
								<button class="btn btn-warning text-white">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>